<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
    <style>
        .comment-section {
            margin-top: 20px;
        }
    </style>
</head>
<body>

<main class="container">
    <section>
        <h2 th:text="${post.title}">게시글 제목</h2>
        <input id="postId" type="hidden" th:value="${post.postId}">
        <input id="symbol" type="hidden" th:value="${post.symbol}">
        <p><span th:text="${post.authorNickname}">작성자</span> <span th:text="${post.createDate}">작성일</span></p>
        <hr>
        <div th:text="${post.content}">게시글 내용</div>
        <hr>

        <!--        <h3>댓글</h3>-->
        <!--        <div class="comment-section" >-->
        <!--            <div class="comment">-->
        <!--                <p><strong >댓글 작성자</strong> <span></span></p>-->
        <!--                <p >댓글 내용</p>-->
        <!--                <hr>-->
        <!--            </div>-->
        <!--        </div>-->
        <!---->
        <!--        <form id="commentForm">-->
        <!--            <div class="form-group">-->
        <!--                <label for="commentContent">댓글 작성:</label>-->
        <!--                <textarea class="form-control" id="commentContent" name="commentContent" rows="3" required></textarea>-->
        <!--            </div>-->
        <!--            <button type="submit" class="btn btn-primary">댓글 작성</button>-->
        <!--        </form>-->
        <div th:if="${isAuthor}" class="d-flex justify-content-between mb-3">
            <div class="ml-auto">
                <!-- 수정 버튼 -->
                <a th:href="@{/board/post/{postId}/edit(postId=${post.postId})}"
                   class="btn btn-warning">수정</a>

                <!-- 삭제 버튼 -->
                <button id="deletePost" class="btn btn-danger">삭제</button>
            </div>
        </div>
    </section>
</main>

<script>
    $(document).ready(function () {
        $('#deletePost').on('click', function (event) {
            event.preventDefault(); // 기본 폼 제출 방지

            if (confirm('정말로 삭제하시겠습니까?')) {
                var postId = $('#postId').val();
                var symbol = $('#symbol').val();

                $.ajax({
                    url: '/post/' + postId, // 여기에 게시글 ID 추가
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({isUse: false}),
                    success: function (response) {
                        if (response.code === "200") {
                            alert('삭제 되었습니다.');
                            location.href = "/board/" + symbol;
                        } else {
                            alert(response.message);
                        }
                    },
                    error: function () {
                        alert('댓글 작성 중 오류가 발생했습니다.');
                    }
                });
            }
        });
    });
</script>

</body>
</html>
