<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
</head>
<body>

<main class="container">
    <section>
        <h2 th:text="${post.title}">게시글 제목</h2>
        <input id="postId" type="hidden" th:value="${post.postId}">
        <input id="symbol" type="hidden" th:value="${post.symbol}">
        <p><span th:text="${post.authorNickname}">작성자</span> <span th:text="${post.createDate}">작성일</span></p>
        <hr>
        <div th:each="file : ${post.files}">
            <img th:src="${'/files/' + file.fileName}" th:alt="${file.fileOriginalName}" style="max-width: 900px; height: auto;" />
        </div>
        <div th:text="${post.content}">게시글 내용</div>
        <hr>
        <div class="text-center mt-4">
            <button id="postLike" type="button" class="btn btn-primary">
                <i class="fas fa-thumbs-up"></i> 좋아요
            </button>
            <span id="likeCnt" class="badge badge-pill badge-primary ml-2" th:value="${post.likeCnt}"
                  th:text="${post.likeCnt}">0</span>
        </div>

        <!-- 댓글 섹션 -->
        <h4 th:text="${post.commentCnt} + ' 개의 댓글'"></h4>
        <hr>

        <div class="comment-section" th:if="${post.comments.size() > 0}">
            <div th:each="comment : ${post.comments}">
                <div th:if="${comment.parentId == null}" class="comment">
                    <div th:insert="~{board/commentList :: commentFragment(${comment})}"></div> <!-- 부모 댓글 표시 -->
                </div>
            </div>
        </div>


        <form id="commentForm" th:if="${isLoggedIn}">
            <div class="form-group">
                <label for="content">댓글 작성:</label>
                <textarea class="form-control" id="content" name="content" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">댓글 작성</button>
        </form>
        <div th:if="${isAuthor}" class="d-flex justify-content-between mb-3">
            <div class="ml-auto">
                <!-- 수정 버튼 -->
                <a th:href="@{/board/post/{postId}/edit(postId=${post.postId})}"
                   class="btn btn-warning">수정</a>

                <!-- 삭제 버튼 -->
                <button id="deletePost" class="btn btn-danger">삭제</button>
            </div>
        </div>
    </section>
</main>

<script>
    $(document).ready(function () {
        $('#commentForm').on('submit', function (event) {
            event.preventDefault(); // 폼 제출 기본 동작 방지

            if (confirm('저장하시겠습니까?')) {
                var formData = {
                    postId: $('#postId').val(),
                    content: $('#content').val()
                };

                // AJAX 요청
                $.ajax({
                    type: 'POST',
                    url: '/comment', // 게시물 작성 처리 경로
                    data: JSON.stringify(formData),
                    contentType: 'application/json',
                    dataType: 'json',
                    success: function (response) {
                        // 댓글 메시지 전송
                        stompClient.send("/app/comment", {}, JSON.stringify(response.data));

                        location.replace("/board/post/" + response.data.postId);
                    },
                    error: function (xhr, status, error) {
                        alert('댓글 작성 중 오류가 발생했습니다.');
                    }
                });
            }
        });

        document.querySelectorAll('.reply-form').forEach(form => {
            form.addEventListener('submit', function (event) {
                event.preventDefault(); // 기본 제출 동작 방지

                if (confirm('저장하시겠습니까?')) {
                    const parentId = this.querySelector('input[name="parentId"]').value;
                    const content = this.querySelector('textarea[name="content"]').value;

                    const data = {
                        parentId: parentId,
                        content: content,
                        postId: $('#postId').val(),
                    };

                    $.ajax({
                        type: 'POST',
                        url: '/comment', // 게시물 작성 처리 경로
                        data: JSON.stringify(data),
                        contentType: 'application/json',
                        dataType: 'json',
                        success: function (response) {
                            // 댓글 메시지 전송
                            stompClient.send("/app/comment", {}, JSON.stringify(response.data));

                            location.replace("/board/post/" + response.data.postId);
                        },
                        error: function (xhr, status, error) {
                            alert('댓글 작성 중 오류가 발생했습니다.');
                        }
                    });
                }
            });
        });

        $('#deletePost').on('click', function (event) {
            event.preventDefault(); // 기본 폼 제출 방지

            if (confirm('정말로 삭제하시겠습니까?')) {
                var postId = $('#postId').val();
                var symbol = $('#symbol').val();

                $.ajax({
                    url: '/post/' + postId, // 여기에 게시글 ID 추가
                    type: 'DELETE',
                    contentType: 'application/json',
                    success: function (response) {
                        if (response.code === "200") {
                            alert('삭제 되었습니다.');
                            location.href = "/board/" + symbol;
                        } else {
                            alert(response.message);
                        }
                    },
                    error: function () {
                        alert('게시글 삭제 중 오류가 발생했습니다.');
                    }
                });
            }
        });

        $('#postLike').on('click', function (event) {
            event.preventDefault(); // 기본 폼 제출 방지

            var postId = $('#postId').val();
            var likeCnt = $('#likeCnt').val();

            $.ajax({
                url: '/post/' + postId + '/like', // 여기에 게시글 ID 추가
                type: 'POST',
                contentType: 'application/json',
                success: function (response) {
                    if (response.code === "200") {
                        alert('추천 되었습니다.');
                        document.getElementById('likeCnt').innerText = likeCnt + 1;
                    } else {
                        alert(response.message);
                    }
                },
                error: function () {
                    alert('게시글 추천 중 오류가 발생했습니다.');
                }
            });
        });
    });

    <!-- JavaScript -->
    // 답글 버튼 클릭 시 폼을 표시하는 로직
    document.querySelectorAll('.reply-button').forEach(button => {
        button.addEventListener('click', function () {
            const commentId = this.getAttribute('data-comment-id');
            const replyFormContainer = document.getElementById(`reply-form-${commentId}`);

            // 폼이 보이지 않으면 보이게, 보이면 숨기기
            if (replyFormContainer.style.display === 'none') {
                replyFormContainer.style.display = 'block';
            } else {
                replyFormContainer.style.display = 'none';
            }
        });
    });

    document.querySelectorAll('.delete-button').forEach(button => {
        button.addEventListener('click', function () {
            const commentId = this.getAttribute('data-comment-id');
            const replyFormContainer = document.getElementById(`reply-form-${commentId}`);

            if (confirm('정말로 삭제하시겠습니까?')) {
                $.ajax({
                    url: '/comment/' + commentId,
                    type: 'POST',
                    contentType: 'application/json',
                    success: function (response) {
                        if (response.code === "200") {
                            alert('삭제 되었습니다.');
                            location.reload(true);
                        } else {
                            alert(response.message);
                        }
                    },
                    error: function () {
                        alert('댓글 작성 중 오류가 발생했습니다.');
                    }
                });
            }
        });
    });
</script>

</body>
</html>
