<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
</head>
<body>

<main class="container mt-5">
    <section>
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2 th:text="${teamName}"></h2>
            <a class="btn btn-primary" th:if="${isLoggedIn && isSymbolMatched}" th:href="@{/board/post}" role="button">글작성하기</a>
        </div>
        <table class="table table-hover board-table">
            <thead class="thead-light">
            <tr style="text-align: center;">
                <th scope="col" style="width: 65%;">제목</th>
                <th scope="col" style="width: 15%;">글쓴이</th>
                <th scope="col" style="width: 10%;">추천 수</th>
                <th scope="col" style="width: 10%;">작성일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post, stat : ${postList.getContent()}">
                <td class="text-left">
                    <a th:href="@{/board/post/{postId}(postId=${post.getPostId()})}" th:text="${post.getTitle()}">게시물 제목</a>
                    <span style="margin-left: 7px; font-size: small; color: gray;" th:text="'[' + ${post.getCommentCnt()} + ']'"></span>
                </td>
                <td th:text="${post.getAuthorNickname()}">작성자</td>
                <td th:text="${post.getLikeCnt()}">123</td>
                <td th:text="${post.getCreateDate()}">작성일</td>
            </tr>
            </tbody>
        </table>

        <!-- Pagination -->
        <nav aria-label="Page navigation"
             th:with="start=${(postList.getPageable().getPageNumber() / 10) * 10 + 1},
                  end=(${(postList.getTotalPages() == 0) ? 1 : (start + (10 - 1) < postList.getTotalPages() ? start + (10 - 1) : postList.getTotalPages())})">
            <ul class="pagination justify-content-center">
                <li th:attr="class=${postList.getPageable().getPageNumber() < 10 ? 'page-item disabled' : 'page-item'}">
                    <a class="page-link" th:href="@{/board/{symbol}(symbol=${symbol}, page = ${start - 10})}">Previous</a>
                </li>
                <li th:each="page, status : ${#numbers.sequence(start, end)}"
                    th:attr="class=${postList.getPageable().getPageNumber() == page -1 ? 'page-item active' :'page-item'}">
                    <a class="page-link"
                       th:href="@{/board/{symbol}(symbol=${symbol}, page = ${page - 1})} "
                       th:text="${page}"></a>
                </li>
                <li th:attr="class=${end < postList.getTotalPages() ? 'page-item' : 'page-item disabled'}">
                    <a class="page-link" th:href="@{/board/{symbol}(symbol=${symbol}, page = ${start + 10})}">Next</a>
                </li>
            </ul>
        </nav>
    </section>
</main>
</body>
</html>
