<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
</head>
<body>
<div class="container mt-5">
    <h2 class="text-center mb-4">비밀번호 변경</h2>
    <div class="card">
        <div class="card-body">
            <form id="editForm">
                <div class="form-group">
                    <label for="oldPassword">기존 비밀번호:</label>
                    <input type="password" class="form-control" id="oldPassword" name="oldPassword" required>
                </div>
                <div class="form-group">
                    <label for="newPassword">신규 비밀번호:</label>
                    <input type="password" class="form-control" id="newPassword" name="newPassword" required>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">비밀번호 확인:</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
                </div>
                <div class="d-flex justify-content-end mt-4">
                    <button type="submit" class="btn btn-primary mr-2">저장하기</button>
                    <button type="button" class="btn btn-secondary" onclick="cancelEdit()">취소</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function cancelEdit() {
        location.replace("/member/detail");
    }
    $(document).ready(function () {

        $('#editForm').on('submit', function (event) {
            event.preventDefault(); // 기본 제출 동작 방지

            // 입력 값 가져오기
            var oldPassword = $('#oldPassword').val();
            var newPassword = $('#newPassword').val();
            var confirmPassword = $('#confirmPassword').val();

            // 비밀번호 일치 여부 확인
            if (newPassword !== confirmPassword) {
                alert('비밀번호와 비밀번호 확인의 내용이 다릅니다.');
                return;
            }

            // AJAX 요청 보내기
            $.ajax({
                url: '/member/password', // 패스워드 변경 요청 URL
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    oldPassword: oldPassword,
                    newPassword: newPassword
                }),
                success: function (response) {
                    if (response.code === "200") {
                        alert('비밀번호가 성공적으로 변경되었습니다.');
                        location.replace("/member/detail");

                    } else {
                        alert(response.message);
                    }
                },
                error: function () {
                    alert('에러 발생: 비밀번호 변경에 실패했습니다.');
                }
            });
        });
    });
</script>

</body>
</html>
