<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
</head>
<body>

<main>
    <section>
        <h2>로그인</h2>
        <form id="loginForm">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit" style="background-color: #007bff;">로그인</button>
            <button type="button" id="signUp">회원 가입</button>
        </form>
    </section>
</main>

<script>
    $(document).ready(function () {
        $('#signUp').on('click', function () {
            window.location.href = '/sign-up';
        });

        $('#loginForm').on('submit', function (event) {
            event.preventDefault(); // 폼 제출 기본 동작 방지

            // 입력 값 가져오기
            var email = $('#email').val();
            var password = $('#password').val();

            // AJAX 요청 보내기
            $.ajax({
                url: '/login',
                type: 'POST',
                contentType: 'application/json', // JSON 형식으로 데이터 전송
                data: JSON.stringify({ // JSON 형태로 데이터 변환
                    email: email,
                    password: password
                }),
                success: function (response) {
                    if (response.code === "200") {
                        alert('로그인 성공');
                        location.href = "/";
                    } else {
                        alert(response.message);
                    }
                },
                error: function() {
                    alert('에러 발생');
                }
            });
        });
    });
</script>

</body>
</html>
